<div class="container">

	<div class="row">

	    <div class="col-lg-12">
	        <span class="page-header">Breakfast
	        </span>
	    </div>
	    <p>Breakfast Plates</p>
	    <p>Comes with rice, beans, and your choice of tortillas (flour/corn).</p>

	<p>Huevos a la Mexicana - $6.99+

	Huevos Rancheros - $6.99+

	Huevos con (Jamon, Tocino, Papas, Chorizo) - $6.99+

	    Eggs with (Bacon, Ham, Potatoes, Chorizo) - $6.99+</p>

	    <p>Breakfast Burritos</p>
	<p>Comes with chorizo, ham, bacon, and potatoes.

	Breakfast Burrito Plain - $3.75+

	Breakfast Burrito with Cheese - $4.50+

	Double Breakfast Burrito - $6.00+

	Double Breakfast Burrito with Cheese - $6.50+</p>
	</div>

</div>