<div class="container">

<div class="row">

    <div class="col-lg-12">
        <span class="page-header">Lunch and Dinner
        </span>
    </div>
<p>Plates come with rice, beans, and your choice of tortillas (flour or corn).

Regular Burrito (Choice of Meat, Rice, Beans, Pico de Gallo, Sauce, sour Cream, and Cheese) - $5.25+

Super Burrito (Choice of Meat, Rice, Beans, Pico de Gallo, and Jalapenos) - $6.25+

Super Nachos (Choice of Meat, Beans, Nacho Cheese, Sour Cream, Pico de Gallo, and Jalapenos) - $6.50+

Tostada (Choice of Meat, Beans, Pico de Gallo, Lettuce, Sour Cream, and Cheese) - $3.50+

Tostada de Ceviche (Shrimp Tostada) - $3.50+

Tacos (Choice of Meat, Pico de Gallo, and Hot Sauce) - $1.99+

Enchilada Dinner (Two Enchiladas and Rice and Beans) - $8.49+

Enchilada Lunch (One Enchilada and Rice and Beans) - $6.50+

Dinner Plate (Up to Three Choices of Meat or Two Chilles Rellenos) - $8.49+

Lunch Plate (Up to Two Choices of Meat or One Chile Relleno) - $6.50+

Carne Asada Dinner - $6.50+

Quesadilla - $5.25+

Plain Cheese Quesadilla - $3.25+

Torta (Choice of Meat, Sour Cream, Tomato, Onion, and Avocado) - $5.00+

Side Order of Rice or Beans - $1.75+

Quart of Meat - $15.00+

Quart of Lengua (Beef Tongue) - $10.00+

Quarts of Rice, Beans, Pico de Gallo, or Hot Sauce - $6.00+

Pint of Meat - $7.50+

Pints of Rice, Beans, Pico de Gallo, or Hot Sauce - $3.00+

Birria (Saturdays Only) - $9.25+

Menudo (Saturdays Only) - $8.25+</p>
</div>
